BasedOnStyle: Google
Language: Cpp
TabWidth: 4
IndentWidth: 2
UseTab: ForIndentation
IndentCaseLabels: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AccessModifierOffset: -4