BasedOnStyle: Google
Language: Cpp
TabWidth: 8
IndentWidth: 2
UseTab: Never
IndentCaseLabels: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AccessModifierOffset: -4
IncludeCategories:
  - Regex: '^((<|")(pch.h))'
    Priority: -1
