.Rproj.user
.Rhistory
.RData
src/*.o
src/*.so
src/*.dll
src/*.a
*.d
src/*.h.gch
src/Makevars
config.status
a.out.dSYM
homebrew
TAGS
/clion-test.R
/windows
CRAN-RELEASE
tests/testthat/testthat-problems.rds
configure.log
.vscode/
CRAN-SUBMISSION
